.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Allow items to wrap to a new line if needed */
}

.holder,
.holder1,
.holder2 {
  height: 100px;
  width: 100px;
  font-size: 50px;
  display: flex;
  justify-content: space-between;
}

.holder {
  background-color: green;
}

.holder1 {
  background-color: red;
}

.holder2 {
  background-color: blue;
}
